<div class="container-fluid">

  <!-- start page title -->

  <app-page-title title="Detail" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <!-- end page title -->
  <ngb-alert  *ngIf="showAlert" type="success" (close)="close()" class="custom-alert">
    {{ alertMessage }}
  </ngb-alert>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="invoice-title">
            <h4 class="float-end font-size-22 mt-4">{{offre.title}}</h4>
            <div class="mb-1">
              <img src="assets/images/1630576094349.jpg" alt="logo" height="50" />
              <div class="row mt-3">
                <div class="col-6">
                  <address class="mb-0">
                    <i class="fas fa-map-marked-alt"></i>  Rue 8368, Montplaisir- 1073 Tunis TUNISIE<br>
                  </address>
                </div>
              </div>
            </div>
          </div>
          <hr>
          
          <div class="row">
            <div class="col-11 mt-3">
              <address>
                <strong class="font-size-18">Description :</strong><br><br>
         {{offre.description}}
              </address>
            </div>
          </div>


          <div class="row">
            <div class="col-11 mt-3">
              <address>
                <strong class="font-size-18">Responsabilities</strong><br>
                 {{offre.responsabilites}}            <br>
                
              </address>
            </div>
          </div>


          <div class="row">
            <div class="col-11 mt-3">
              <address>
                <strong class="font-size-18">Profil</strong><br>
                {{offre.profil}}<br>
                
              </address>
            </div>
          </div>


          <!-- <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 70px;">No.</th>
                  <th>Item</th>
                  <th class="text-end">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>Skote - Bootstrap 4 Admin Dashboard</td>
                  <td class="text-end">$499.00</td>
                </tr>

                <tr>
                  <td>02</td>
                  <td>Skote - Bootstrap 4 Landing Template</td>
                  <td class="text-end">$399.00</td>
                </tr>

                <tr>
                  <td>03</td>
                  <td>Veltrix - Bootstrap 4 Admin Template</td>
                  <td class="text-end">$499.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-end">Sub Total</td>
                  <td class="text-end">$1397.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="border-0 text-end">
                    <strong>Shipping</strong></td>
                  <td class="border-0 text-end">$13.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="border-0 text-end">
                    <strong>Total</strong></td>
                  <td class="border-0 text-end">
                    <h4 class="m-0">$1410.00</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <ng-template #content role="document" let-modal>
            <div class="modal-header">
              <h5 class="modal-title mt-0">Add Application</h5>
              <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="candidatureForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-12">
                    <div>
                    
                      <div class="input-group">
                          <input type="file" (change)="onFileChange($event)" formControlName="cv" class="form-control" id="inputGroupFile02">
                          <label class="input-group-text" for="inputGroupFile02">Upload</label>
                      </div>
                  </div>

                  <div *ngIf="cv.invalid && (cv.dirty || cv.touched)" class="text-danger">
                    <div *ngIf="cv.errors?.['required']">
                      File is required.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mt-2"> <!-- Utilisation de la classe Bootstrap mt-2 pour une marge supérieure -->
                  <button type="submit" class="btn btn-info" id="btn-save-event" [disabled]="candidatureForm.invalid">
                    Apply Now
                  </button>
                </div>
              </form>
            </div>
          </ng-template>
          <div class="d-print-none" >
            <div class="float-end">
              <!-- <a href="javascript: void(0);" class="btn btn-primary w-md ms-1" (click)="openModal(content)">Postuler</a> -->
              <ng-container *ngIf="isUserAdmin(); else userTemplate">
                <a href="javascript: void(0);" class="btn btn-primary w-md ms-1" [routerLink]="['/contacts/list',offre.id]">Show Applications</a>
              </ng-container>
              <ng-template #userTemplate>
                <a href="javascript: void(0);" class="btn btn-primary w-md ms-1" (click)="openModal(content)">Postuler</a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->