<div class="container-fluid">

  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div *ngIf="user" class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>It will seem like simplified</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="assets/images/a2c7690e-ee45-4286-b04c-21c03bac2a9b.jpg" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate">{{user.firstname}}</h5>
              <p class="text-muted mb-0 text-truncate"></p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15"></h5>
                    <p class="text-muted mb-0">Projects</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15"></h5>
                    <p class="text-muted mb-0">Revenue</p>
                  </div>
                </div>
                <div class="mt-4">
                  <a href="javascript: void(0);" class="btn btn-primary btn-sm">View Profile <i
                      class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>

          <p class="text-muted mb-4">Hi I'm {{user.firstname}}  {{user.lastname}},I am a motivated and skilled professional seeking new job opportunities. I am eager to contribute my expertise and grow within a dynamic company</p>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Full Name :</th>
                  <td>{{user.firstname}}  {{user.lastname}}</td>
                </tr>
                <tr>
                  <th scope="row">Date of brith :</th>
                  <td>{{user.dateOfBirth}}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <th scope="row">Location :</th>
                  <td>Tunis,Tunisie</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
   
    </div>

    <div class="col-xl-8">

      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-4">
          <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">My Applications</h4>
          <div class="table-responsive">
            <table class="table table-nowrap table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Etat</th>
                  <th scope="col">Applied Date</th>
                  <th scope="col">Offre Name</th>
                  <!-- <th scope="col">CV file</th> -->
                </tr>
              </thead>
              <tbody *ngFor="let list of condidatures">
                <tr>
                  <th scope="row"></th>
                  <td>{{list.etat}}</td>
                  <td>{{list.Date}}</td>
                  <td>{{list.titleoffre}}</td>
                  <!-- <td>$122</td> -->
                </tr>
               
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
