<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Offres list" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
  <ngb-alert  *ngIf="showAlert" type="success" (close)="close()" class="custom-alert">
    {{ alertMessage }}
  </ngb-alert>
  <div class="row">
    <div class="d-flex">
      <button class="btn btn-success ms-auto mb-2" (click)="openModal(content)">Add Offre </button>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">{{ isUpdateMode ? 'Update Offer' : 'Add Offer' }}</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveOffre()" [formGroup]="offreForm">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="control-label">Title</label>
                <input class="form-control" placeholder="Enter Title" type="text" name="title"
                  formControlName="title" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                  <span *ngIf="form.title.errors.required">Title is required.</span>
                </div>
              </div>
    
              <div class="mb-3">
                <label class="control-label">Description</label>
                <textarea class="form-control" placeholder="Enter Description" name="description"
                formControlName="description" [ngClass]="{'is-invalid': submitted && form.description.errors}"
                rows="5"></textarea>
                <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
                  <span *ngIf="form.description.errors.required">Description is required.</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="control-label">Profil</label>
                <textarea  class="form-control" placeholder="Enter Profil" type="text" name="profil"
                  formControlName="profil" [ngClass]="{'is-invalid': submitted && form.profil.errors}" rows="5"></textarea>
                <div *ngIf="submitted && form.profil.errors" class="invalid-feedback">
                  <span *ngIf="form.profil.errors.required">Profil is required.</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="control-label">Responsabilities</label>
                <input class="form-control" placeholder="Enter Responsabilities" type="text" name="responsabilities"
                  formControlName="responsabilities" [ngClass]="{'is-invalid': submitted && form.responsabilities.errors}" />
                <div *ngIf="submitted && form.responsabilities.errors" class="invalid-feedback">
                  <span *ngIf="form.responsabilities.errors.required">Responsabilities is required.</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="control-label">Expiration Date</label>
                <input class="form-control" type="date" name="expirationDate"
                  formControlName="expirationDate" [ngClass]="{'is-invalid': submitted && form.expirationDate.errors}" />
                <div *ngIf="submitted && form.expirationDate.errors" class="invalid-feedback">
                  <span *ngIf="form.expirationDate.errors.required">Expiration date is required.</span>
                </div>
              </div>
              
              <div class="mb-3">
                <label class="control-label">Shareable</label>
                <ng-select [items]="selectValue2" [multiple]="false" formControlName="shareable"></ng-select>
              </div>
              <div class="mb-3">
                <label class="control-label">Type de contrat</label>
                <ng-select [items]="selectValue"  bindValue="value" formControlName="typecontrat"></ng-select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success" id="btn-save-event">
            {{ isUpdateMode ? 'Update' : 'Save' }}
          </button>
        </form>
      </div>
    </ng-template>




    <div class="col-xl-3 col-sm-6" *ngFor="let data of userGridData">
      <div class="card text-center">
        <div class="card-body">
         
          <div  class="mb-4">
            <img class="rounded-circle avatar-sm" src="assets/images/1630576094349.jpg" alt />
          </div>
          <h5 [routerLink]="['/invoices/detail',data.id]" class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark">{{data.title}}</a></h5>
          <!-- <p class="text-muted">{{data.designation}}</p> -->
          <div>
            <a href="javascript: void(0);" class="badge bg-primary font-size-11 m-1">{{data.typeContrat}}</a>

          </div>
        </div>
        <div class="card-footer bg-transparent border-top">
          <div class="contact-links d-flex font-size-20">
            <div class="flex-fill">
              <a  ngbTooltip="Update" (click)=" openUpdateModal(content,data.id)">
                <i class="far fa-edit"></i></a>
            </div>
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Archive" (click)="archiveItem(data.id)">
                <i *ngIf="!data.archived" class="fas fa-archive"></i>
                <i *ngIf="data.archived" class="far fa-trash-alt"></i>
              </a>
            </div>
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Delete" (click)="deleteOffre(data.id)">
                <i class="far fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success"><i class="bx bx-hourglass bx-spin mr-2"></i> Load more </a>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->

